<h1>Log in</h1>

<%= form_with(model: @user, url: sessions_path, method: :post, local: true) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from login:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="actions">
        <%= f.submit "Log In" %>
    </div>
<% end %>